#Put the directory that contains the folder
app.version=1.3.0.0
app.name=WikiKreator
stopwordFile=lib/stoplists/en.txt
python2dir=<DIR_TO_PYTHON2.X>/python.exe
python3dir=<DIR_TO_PYTHON3.X>/python.exe
pronouns=lib/stoplists/pronouns
#Science_fiction_films: http://en.wikipedia.org/wiki/Category:Science_fiction_films
categoryForTraining=American_soft_drinks
#Science_fiction_film_stubs: http://en.wikipedia.org/wiki/Category:Science_fiction_film_stubs
categoryToGenerate=American_soft_drinks
topFrequentSections=10
numFilesToGenerate=20
cfThreshold=0.5
LM_File=lib/LM/lm_giga_64k_vp_3gram.arpa